.main-container {
  text-align: center;
  min-height: 80vh;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25%;
  padding-right: 25%;
  color: #d2ebff;
}

h1 {
  color: #88cafc;
  margin-top: 20px;
}

img {
  width: 80%;
}